{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}]}.

{deps, [
  {lager, {git, "git@github.com:basho/lager.git", {branch, "master"}}}
]}.

{relx, [{release, {epigpio, "0.1.0"},
  [epigpio]},

  {dev_mode, false},
  {include_erts, false},

  {extended_start_script, true},

  {sys_config, "sys.config"}]
}.